body {
  background-color: rgb(11, 11, 51);
 
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 10%;
  height: auto;

  width: 300px;
}

h1 {
  text-align: center;
  color: white;

}

#btn_box {
  text-align: center;
  flex-direction: column;
  width: 400px;
  display: flex;
  margin-top: 20px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;

}

a {
  background-color: #5f27cd;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 5px;

}

.btn_yt:hover{
  transition: 1s;
  background-color: red;
}

.btn_itg:hover{
  transition: 1s;
  background-color: #ec5fec;
}

.btn_wp:hover{
  transition: 1s;
  background-color: #25d366;
}

