body {
  background-color: rgb(11, 11, 51);
  
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 3%;
  height: auto;

  width: 10rem;
}

h1{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;  

}

h2, h3{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  font-family: ;

}

#btn_box {
  text-align: center;
  flex-direction: column;
  max-width: 30rem;
  display: flex;
  margin-top: 20px;
  padding: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  margin-bottom: 8rem;

}

a {
  background-color: rgb(130, 10, 209);
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border-color: #178e43 solid 3px;

}

.btn_yt:hover{
  transition: 1s;
  background-color: red;
}

.btn_itg:hover{
  transition: 1s;
  background-color: #ec5fec;
}

.btn_wp:hover{
  transition: 1s;
  background-color: #178e43;
}

footer{
  display: flex;
  justify-content: center;
  font-size: 13px;

}

span {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 13px;
}

.credit_name {
  background-color: rgb(11, 11, 51);
  color: rgb(196, 196, 196);
  padding: 0.3rem;
  font-weight: bold;
  font-size: 12px;
}

